.App {
  text-align: center;
}

/* NavBar CSS */

#icon {
  margin-left: 70rem;
  
}

/* ItemCount.JS */

#counter {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem ; 
}

#addtocart {
  margin-left: 3rem;
}

#selector {
  border: 1px solid black;
  padding: 2rem;
}

/* ItemList.JS */
.productcards{
  display:inline-block;
  font-size: 1.5rem;
  padding: 1rem;
  
  
}

/* Loading animation */
.loader {
  margin: auto;
  margin-top: 10rem;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #282c34;
  width: 300px;
  height: 300px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Item.JS */
.details{
  text-decoration: none;
  font-size: 1.2rem;
}

/* ItemDetail.JS */
.titleprod{
  font-size: 1.5rem;
}
.itemprice{
  font-size: 1.5rem;
  
}

/* ItemDetailContainer.JS */
